@using Microsoft.AspNetCore.Mvc.RazorPages

@page "/new-bug" 

<h3>Add New Bug</h3>
<EditForm model="AddBug">
    <InputText @bind-value="@AddBug.Title" placeholder="Enter Title"></InputText>
    <InputText @bind-value="@AddBug.Description" placeholder="Enter Description"></InputText>
    <InputNumber TValue="System.Int16" @bind-value="@AddBug.Priority"  placeholder="Enter Priority"></InputNumber>
    <button type="submit" OnValidSubmit="HandleValidSubmit">Add Bug</button>
</EditForm>

@code {

    [Inject()]
    public IBugService BugService { get; set; }

    [Inject]
    public NavigationManager NavService { get; set; }

    
    public Bug AddBug { get; set; } = new Bug();

    protected void HandleValidSubmit()
    {
        BugService.AddBug(AddBug);
        NavService.NavigateTo("");
    }
}
